img {
    width: 250px;
    height: 350px;
    border: radius 10px;
    border: 40px  dashed white;
}

p{
    border:1px solid red;
    margin-left: 100px;
    margin-right: 100px;
    /* width: 50%; */
    float:left;
}